In [1]:
#Importing necessary python libraries
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [26]:
con = sqlite3.connect("../data/2013-2014 NHANES Survey.db")
demo_df = pd.read_sql_query("SELECT SEQN, RIDAGEYR, RIAGENDR, RIDRETH3 FROM demographic", con)
exam_df = pd.read_sql_query("SELECT SEQN, BPXDI1, BPXDI2, BPXDI3, BPXDI4, BPXSY1, BPXSY2, BPXSY3,BPXSY4, BMXWT, BPXCHR FROM examination", con)
labs_df = pd.read_sql_query("SELECT SEQN, LBDHDD, LBXTC, LBDLDL, LBXSGL FROM labs", con)
quest_df = pd.read_sql_query("SELECT SEQN, MCQ160b, MCQ160c, MCQ160e, MCQ180b, MCQ180c, MCQ300a, PAQ605, PAQ650, PAQ665, RXQ520, SMQ040, SMQ020, DIQ010 FROM questionnaire", con)

In [24]:
con2 = sqlite3.connect("../data/2013-2014 NHANES Survey Varible Lists.db")
demo_var = pd.read_sql_query("SELECT VariableName, VariableDescription, DataFileDescription From demographics_variable_list", con2)
exam_var = pd.read_sql_query("SELECT VariableName, VariableDescription, DataFileDescription From examination_variable_list", con2)
labs_var = pd.read_sql_query("SELECT VariableName, VariableDescription, DataFileDescription From laboratory_variable_list", con2)
quest_var = pd.read_sql_query("SELECT VariableName, VariableDescription, DataFileDescription From questionnaire_variable_list", con2)

In [4]:
con.close()
con2.close()

In [7]:
#Function that easily identifies the description of a specific variable in one of the NHANES DataFrames above.

def var_desc(var_table, var_name):
    """This function has two inputs:
    1. The name of the variable table from the NHANES survey entered as a string.
    2. the variable name in that dataframe entered as a string
    It then returns the variable's description."""
        
    desc = var_table[var_table.VariableName == var_name]
    return print(desc.VariableDescription)

In [20]:
var_desc(exam_var, 'BPXCHR')

6    60 sec HR (30 sec HR * 2)
Name: VariableDescription, dtype: object

In [27]:
demo_df.rename(columns={'RIDAGEYR': 'age', 'RIAGENDR': 'gender', 'RIDRETH3': 'race/ethnicity'}, inplace=True)
exam_df.rename(columns={'BPXDI1': 'diastolic BP 1st reading', 'BPXDI2': 'diastolic BP 2nd reading', 'BPXDI3': 'diastolic BP 3rd reading', 'BPXDI4': 'diastolic BP 4th reading', 'BPXSY1': 'systolic BP 1st reading', 'BPXSY2': 'systolic BP 2nd reading', 'BPXSY3': 'systolic BP 3rd reading', 'BPXSY4': 'systolic BP 4th reading', 'BMXWT': 'weight', 'BPXCHR': 'HR'}, inplace=True)
labs_df.rename(columns={'LBDHDD', 'LBXTC', 'LBDLDL', 'LBXSGL'}, inplace=True)
# quest_df.rename(columns={'RIDAGEYR': 'age', 'RIAGENDR': 'gender', 'RIDRETH3': 'race/ethnicity'}, inplace=True)
exam_df

,SEQN,diastolic BP 1st reading,diastolic BP 2nd reading,diastolic BP 3rd reading,diastolic BP 4th reading,systolic BP 1st reading,systolic BP 2nd reading,systolic BP 3rd reading,systolic BP 4th reading,weight,HR
0,73557,72,76,74,None,122,114,102,None,78.3,None
1,73558,62,80,42,None,156,160,156,None,89.5,None
2,73559,90,76,80,None,140,140,146,None,88.9,None
3,73560,38,34,38,None,108,102,104,None,32.2,None
4,73561,86,88,86,None,136,134,142,None,52.0,None
...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,68,74,76,None,110,116,112,None,71.8,None
9809,83728,None,None,None,None,None,None,None,None,11.3,110
9810,83729,82,82,80,None,136,130,138,None,89.6,None
9811,83730,None,None,None,None,None,None,None,None,22.8,72
9812,83731,68,56,62,None,94,94,90,None,42.3,None

In [60]:
var_desc(demo_var, 'INDFMIN2')

23    Total family income (reported as a range value...
Name: VariableDescription, dtype: object

In [12]:
demo_df

        SEQN  RIDAGEYR  RIAGENDR  RIDRETH3
0      73557        69         1         4
1      73558        54         1         3
2      73559        72         1         3
3      73560         9         1         3
4      73561        73         2         3
...      ...       ...       ...       ...
10170  83727        26         1         2
10171  83728         2         2         1
10172  83729        42         2         4
10173  83730         7         1         2
10174  83731        11         1         6

[10175 rows x 4 columns]

In [15]:
var_desc('quest_df', 'MCQ180c')

KeyError: 1