In [8]:
#Importing necessary python libraries
import sqlite3
import pandas as pd
import numpy as np

In [9]:
#Connect to SQLite NHANES Variable Names DB and read in variable name discriptions
con = sqlite3.connect("../data/NHANES SQLite DBs/2013-2014 NHANES Survey Varible Lists.db")

query2 = """
SELECT VariableName, VariableDescription, DataFileDescription, Component
FROM demographics_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component 
FROM examination_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component 
FROM laboratory_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component
FROM questionnaire_variable_list
;
"""
var_df = pd.read_sql_query(query2, con)
var_df.head()

,VariableName,VariableDescription,DataFileDescription,Component
0,AIALANGA,Language of the MEC ACASI Interview Instrument,Demographic Variables and Sample Weights,Demographics
1,DMDBORN4,In what country {were you/was SP} born?,Demographic Variables and Sample Weights,Demographics
2,DMDCITZN,{Are you/Is SP} a citizen of the United States...,Demographic Variables and Sample Weights,Demographics
3,DMDEDUC2,What is the highest grade or level of school {...,Demographic Variables and Sample Weights,Demographics
4,DMDEDUC3,What is the highest grade or level of school {...,Demographic Variables and Sample Weights,Demographics

In [10]:
#Function that easily identifies the description of a specific variable in one of the NHANES DataFrames above.
def var_desc(var_name):
    """
    This funtions takes in a variable name 
    from the NHANES survey data and returns 
    the variable's description. 
    The variable must be entered as a string.
    
    """
    df = desc = var_df[var_df['VariableName'] == var_name]
    comp = df.Component.iloc[0]
    desc = df.VariableDescription.iloc[0]
    print(f'Table: {comp}')
    print(f'Variable Description: "{desc}"')

In [11]:
#Test Function
var_desc(AIALANGA)

NameError: name 'AIALANGA' is not defined

In [7]:
#Close SQLite DB connections
con.close()