In [13]:
#Importing necessary python libraries
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
# connect to SQlite NHANES DB and read in necessary data.
con = sqlite3.connect("../data/NHANES SQLite DBs/2013-2014 NHANES Survey.db")
query = """

SELECT

SEQN, RIDAGEYR, RIAGENDR, RIDRETH3, BPXDI1, BPXDI2, BPXDI3, 
BPXDI4, BPXSY1, BPXSY2, BPXSY3, BPXSY4, BMXWT, BPXCHR, 
BPXPLS, BPXPULS, LBDHDD, LBDLDL, LBXTC, LBXTR, LBXSGL, 
MCQ300a, PAD680, SMQ040,SMQ020, DIQ010, MCQ160e, MCQ160c

FROM demographic
JOIN examination
    USING(SEQN)
JOIN labs
    USING(SEQN)
JOIN questionnaire
    USING(SEQN)
;
"""
heart_df = df = pd.read_sql(query, con)
heart_df.head()

,SEQN,RIDAGEYR,RIAGENDR,RIDRETH3,BPXDI1,BPXDI2,BPXDI3,BPXDI4,BPXSY1,BPXSY2,...,LBXTC,LBXTR,LBXSGL,MCQ300A,PAD680,SMQ040,SMQ020,DIQ010,MCQ160E,MCQ160C
0,73557,69,1,4,72,76,74,None,122,114,...,167,None,554,2,600,3,1,1,2,2
1,73558,54,1,3,62,80,42,None,156,160,...,170,None,219,2,540,2,1,1,2,2
2,73559,72,1,3,90,76,80,None,140,140,...,126,51,183,1,300,3,1,1,2,2
3,73560,9,1,3,38,34,38,None,108,102,...,168,None,None,None,None,None,None,2,None,None
4,73561,73,2,3,86,88,86,None,136,134,...,201,75,104,1,480,None,2,2,2,2

In [15]:
#Connect to SQLite NHANES Variable Names DB and read in variable name discriptions
con2 = sqlite3.connect("../data/NHANES SQLite DBs/2013-2014 NHANES Survey Varible Lists.db")

query2 = """
SELECT VariableName, VariableDescription, DataFileDescription, Component
FROM demographics_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component 
FROM examination_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component 
FROM laboratory_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component
FROM questionnaire_variable_list
;
"""
var_df = pd.read_sql_query(query2, con2)
var_df.head()

,VariableName,VariableDescription,DataFileDescription,Component
0,AIALANGA,Language of the MEC ACASI Interview Instrument,Demographic Variables and Sample Weights,Demographics
1,DMDBORN4,In what country {were you/was SP} born?,Demographic Variables and Sample Weights,Demographics
2,DMDCITZN,{Are you/Is SP} a citizen of the United States...,Demographic Variables and Sample Weights,Demographics
3,DMDEDUC2,What is the highest grade or level of school {...,Demographic Variables and Sample Weights,Demographics
4,DMDEDUC3,What is the highest grade or level of school {...,Demographic Variables and Sample Weights,Demographics

In [16]:
#Close SQLite DB connections
con.close()
con2.close()

In [17]:
#Function that easily identifies the description of a specific variable in one of the NHANES DataFrames above.
def var_desc(var_name):
    """
    This funtions takes in a variable name 
    from the NHANES survey data and returns 
    the variable's description. 
    The variable must be entered as a string.
    
    """
    df = desc = var_df[var_df['VariableName'] == var_name]
    comp = df.Component.iloc[0]
    desc = df.VariableDescription.iloc[0]
    print(f'Table: {comp}')
    print(f'Variable Description: "{desc}"')

In [18]:
#Verify function works properly
var_desc('PAD615')

Table: Questionnaire
Variable Description: "How much time {do you/does SP} spend doing vigorous-intensity activities at work on a typical day?"

In [19]:
# rename columns
col_rename ={
'RIDAGEYR': 'Age', 'RIAGENDR': 'Gender', 'RIDRETH3': 'Race/Ethnicity', 'BPXDI1': 'DBP_1', 'BPXDI2': 'DBP_2', 
'BPXDI3': 'DBP_3', 'BPXDI4': 'DBP_4', 'BPXSY1': 'SBP_1', 'BPXSY2': 'SBP_2', 'BPXSY3': 'SBP_3', 
'BPXSY4': 'SBP_4', 'BMXWT': 'WT', 'BPXCHR': 'HR', 'BPXPLS': 'Pulse', 'BPXPULS': 'AFib', 
'LBDHDD': 'HDL', 'LBDLDL': 'LDL', 'LBXTC': 'TC', 'LBXTR': 'TG', 
'LBXSGL': 'Glu', 'MCQ300A': 'FH_MI/Ang', 'PAD680': 'Time_Sedetary_Day', 'SMQ040': 'Smoker', 
'SMQ020': 'Smoked_100','DIQ010': 'Diabetes', 'MCQ160E': 'Heart_Attack', 'MCQ160C': 'Coronary_HD'
}
heart_df.rename(columns=col_rename, inplace=True)
heart_df.head()

,SEQN,Age,Gender,Race/Ethnicity,DBP_1,DBP_2,DBP_3,DBP_4,SBP_1,SBP_2,...,TC,TG,Glu,FH_MI/Ang,Time_Sedetary_Day,Smoker,Smoked_100,Diabetes,Heart_Attack,Coronary_HD
0,73557,69,1,4,72,76,74,None,122,114,...,167,None,554,2,600,3,1,1,2,2
1,73558,54,1,3,62,80,42,None,156,160,...,170,None,219,2,540,2,1,1,2,2
2,73559,72,1,3,90,76,80,None,140,140,...,126,51,183,1,300,3,1,1,2,2
3,73560,9,1,3,38,34,38,None,108,102,...,168,None,None,None,None,None,None,2,None,None
4,73561,73,2,3,86,88,86,None,136,134,...,201,75,104,1,480,None,2,2,2,2

In [20]:
#Replace none with NaN for easier manipulation
heart_df.fillna(value=np.nan, inplace=True)

#Convert to floats to allow for arithmetic with NaNs
heart_df = heart_df.astype(float)
heart_df.head()

,SEQN,Age,Gender,Race/Ethnicity,DBP_1,DBP_2,DBP_3,DBP_4,SBP_1,SBP_2,...,TC,TG,Glu,FH_MI/Ang,Time_Sedetary_Day,Smoker,Smoked_100,Diabetes,Heart_Attack,Coronary_HD
0,73557.0,69.0,1.0,4.0,72.0,76.0,74.0,NaN,122.0,114.0,...,167.0,NaN,554.0,2.0,600.0,3.0,1.0,1.0,2.0,2.0
1,73558.0,54.0,1.0,3.0,62.0,80.0,42.0,NaN,156.0,160.0,...,170.0,NaN,219.0,2.0,540.0,2.0,1.0,1.0,2.0,2.0
2,73559.0,72.0,1.0,3.0,90.0,76.0,80.0,NaN,140.0,140.0,...,126.0,51.0,183.0,1.0,300.0,3.0,1.0,1.0,2.0,2.0
3,73560.0,9.0,1.0,3.0,38.0,34.0,38.0,NaN,108.0,102.0,...,168.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,73561.0,73.0,2.0,3.0,86.0,88.0,86.0,NaN,136.0,134.0,...,201.0,75.0,104.0,1.0,480.0,NaN,2.0,2.0,2.0,2.0

In [21]:
#Obtaining average blood pressure
avg_sys_bp = heart_df[['SBP_1', 'SBP_2', 'SBP_3', 'SBP_4']].mean(axis=1).round(0)
avg_dia_bp = heart_df[['DBP_1', 'DBP_2', 'DBP_3', 'DBP_4']].mean(axis=1).round(0)

#Combining pulse and heart rate into one column 
pulse = heart_df[['HR', 'Pulse']].mean(axis=1).round(0)

#Obtaining column with just the non-HDL cholesterol
non_hdl = heart_df['TC'] - heart_df['HDL']

# imputing "non-smoker" for null values in the "Smoker" column, using the "Smoked_100" column 
# for individuals who reported smoking less than 100 cigarettes in there lifetime
heart_df['Smoker'].where((heart_df['Smoker'].notna()) & \
(heart_df['Smoked_100'] != 2.0), heart_df['Smoked_100'], inplace=True)

#Dropping unnecesary columns
heart_df.drop(columns=['SBP_1', 'SBP_2', 'SBP_3', 'SBP_4', 'DBP_1', 'DBP_2', 'DBP_3', 
                       'DBP_4', 'HR', 'Pulse', 'TC', 'TG', 'HDL', 'LDL', 'Smoked_100'], inplace=True)

#Inserting new columns at specified locations
heart_df.insert(5, 'SBP', avg_sys_bp)
heart_df.insert(6, 'DBP', avg_dia_bp)
heart_df.insert(7, 'Pulse', pulse)
heart_df.insert(9, 'Non-HDL', non_hdl)

heart_df.head()

,SEQN,Age,Gender,Race/Ethnicity,WT,SBP,DBP,Pulse,AFib,Non-HDL,Glu,FH_MI/Ang,Time_Sedetary_Day,Smoker,Diabetes,Heart_Attack,Coronary_HD
0,73557.0,69.0,1.0,4.0,78.3,113.0,74.0,86.0,1.0,102.0,554.0,2.0,600.0,3.0,1.0,2.0,2.0
1,73558.0,54.0,1.0,3.0,89.5,157.0,61.0,74.0,1.0,120.0,219.0,2.0,540.0,2.0,1.0,2.0,2.0
2,73559.0,72.0,1.0,3.0,88.9,142.0,82.0,68.0,1.0,66.0,183.0,1.0,300.0,3.0,1.0,2.0,2.0
3,73560.0,9.0,1.0,3.0,32.2,105.0,37.0,64.0,1.0,107.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,73561.0,73.0,2.0,3.0,52.0,137.0,87.0,92.0,1.0,116.0,104.0,1.0,480.0,2.0,2.0,2.0,2.0

In [30]:
heart_df.isna().sum()

SEQN                    0
Age                     0
Gender                  0
Race/Ethnicity          0
WT                     90
SBP                  2282
DBP                  2282
Pulse                 303
AFib                  302
Non-HDL              2189
Glu                  3260
FH_MI/Ang            4225
Time_Sedetary_Day    2872
Smoker               3889
Diabetes              392
Heart_Attack         4225
Coronary_HD          4225
dtype: int64