In [16]:
#Importing necessary python libraries
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
# connect to SQlite NHANES DB and read in necessary data.
con = sqlite3.connect("../data/NHANES SQLite DBs/2013-2014 NHANES Survey.db")
query = """

SELECT

SEQN, RIDAGEYR, RIAGENDR, RIDRETH3, BPXDI1, BPXDI2, BPXDI3, BPXDI4, BPXSY1, BPXSY2, 
BPXSY3, BPXSY4, BMXWT, BPXCHR, LBDHDD, LBDLDL, LBXTC, LBXTR, LBXSGL, MCQ300a, 
PAD630, PAD675, PAD615, PAD660, PAD645, RXQ520, SMQ040,DIQ010, MCQ160e, MCQ160c

FROM demographic
JOIN examination
    USING(SEQN)
JOIN labs
    USING(SEQN)
JOIN questionnaire
    USING(SEQN)
;
"""
heart_df = df = pd.read_sql(query, con)
heart_df.head()

,SEQN,RIDAGEYR,RIAGENDR,RIDRETH3,BPXDI1,BPXDI2,BPXDI3,BPXDI4,BPXSY1,BPXSY2,...,PAD630,PAD675,PAD615,PAD660,PAD645,RXQ520,SMQ040,DIQ010,MCQ160E,MCQ160C
0,73557,69,1,4,72,76,74,None,122,114,...,None,None,None,None,None,None,3,1,2,2
1,73558,54,1,3,62,80,42,None,156,160,...,10,None,None,None,None,None,2,1,2,2
2,73559,72,1,3,90,76,80,None,140,140,...,30,180,None,None,None,2,3,1,2,2
3,73560,9,1,3,38,34,38,None,108,102,...,None,None,None,None,None,None,None,2,None,None
4,73561,73,2,3,86,88,86,None,136,134,...,30,None,None,None,None,None,None,2,2,2

In [18]:
#Connect to SQLite NHANES Variable Names DB and read in variable name discriptions
con2 = sqlite3.connect("../data/NHANES SQLite DBs/2013-2014 NHANES Survey Varible Lists.db")

query2 = """
SELECT VariableName, VariableDescription, DataFileDescription, Component
FROM demographics_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component 
FROM examination_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component 
FROM laboratory_variable_list
UNION ALL
SELECT VariableName, VariableDescription, DataFileDescription, Component
FROM questionnaire_variable_list
;
"""
var_df = pd.read_sql_query(query2, con2)
var_df.head()

,VariableName,VariableDescription,DataFileDescription,Component
0,AIALANGA,Language of the MEC ACASI Interview Instrument,Demographic Variables and Sample Weights,Demographics
1,DMDBORN4,In what country {were you/was SP} born?,Demographic Variables and Sample Weights,Demographics
2,DMDCITZN,{Are you/Is SP} a citizen of the United States...,Demographic Variables and Sample Weights,Demographics
3,DMDEDUC2,What is the highest grade or level of school {...,Demographic Variables and Sample Weights,Demographics
4,DMDEDUC3,What is the highest grade or level of school {...,Demographic Variables and Sample Weights,Demographics

In [19]:
#Close SQLite DB connections
con.close()
con2.close()

In [20]:
#Function that easily identifies the description of a specific variable in one of the NHANES DataFrames above.
def var_desc(var_name):
    """
    This funtions takes in a variable name 
    from the NHANES survey data and returns 
    the variable's description. 
    The variable must be entered as a string.
    
    """
    df = desc = var_df[var_df['VariableName'] == var_name]
    comp = df.Component.iloc[0]
    desc = df.VariableDescription.iloc[0]
    print(f'Table: {comp}')
    print(f'Variable Description: "{desc}"')

In [21]:
var_desc('PAD615')

Table: Questionnaire
Variable Description: "How much time {do you/does SP} spend doing vigorous-intensity activities at work on a typical day?"

In [22]:
# rename columns
col_rename ={
'RIDAGEYR': 'age', 'RIAGENDR': 'gender', 'RIDRETH3': 'race/ethnicity', 'BPXDI1': 'dia bp 1', 'BPXDI2': 'dia bp 2', 
'BPXDI3': 'dia bp 3', 'BPXDI4': 'dia bp 4', 'BPXSY1': 'sys bp 1', 'BPXSY2': 'sys bp 2', 'BPXSY3': 'sys bp 3', 
'BPXSY4': 'sys bp 4', 'BMXWT': 'weight (kg)', 'BPXCHR': 'hr (bpm)', 'LBDHDD': 'hdl chol (mg/dL)', 'LBDLDL': 'ldl chol (mg/dL)', 
'LBXTC': 'tot chol (mg/dL)', 'LBXTR': 'trigl (mg/dL)', 'LBXSGL': 'gluc (mg/dL)', 'MCQ300A': 'fam hist ha or ang < age 50)', 
'PAD630': 'daily mod-int act at work (min)', 'PAD675': 'daily mod-int act (min)', 'PAD615': 'daily high-int act at work (min)', 
'PAD660': 'daily high-int act (min)', 'PAD645': 'daily walk/bycl (min)', 'RXQ520': 'prev aspirin use', 'SMQ040': 'smoker', 
'SMQ020': 'smoked >= 100 cigarettes', 'DIQ010': 'diabetes', 'MCQ160E': 'heart attack', 'MCQ160C': 'coronary heart disease'}

heart_df.rename(columns=col_rename, inplace=True)
heart_df.head()

,SEQN,age,gender,race/ethnicity,dia bp 1,dia bp 2,dia bp 3,dia bp 4,sys bp 1,sys bp 2,...,daily mod-int act at work (min),daily mod-int act (min),daily high-int act at work (min),daily high-int act (min),daily walk/bycl (min),prev aspirin use,smoker,diabetes,heart attack,coronary heart disease
0,73557,69,1,4,72,76,74,None,122,114,...,None,None,None,None,None,None,3,1,2,2
1,73558,54,1,3,62,80,42,None,156,160,...,10,None,None,None,None,None,2,1,2,2
2,73559,72,1,3,90,76,80,None,140,140,...,30,180,None,None,None,2,3,1,2,2
3,73560,9,1,3,38,34,38,None,108,102,...,None,None,None,None,None,None,None,2,None,None
4,73561,73,2,3,86,88,86,None,136,134,...,30,None,None,None,None,None,None,2,2,2

In [23]:
#Replace none with NaN for easier manipulation
heart_df.fillna(value=np.nan, inplace=True)
heart_df

,SEQN,age,gender,race/ethnicity,dia bp 1,dia bp 2,dia bp 3,dia bp 4,sys bp 1,sys bp 2,...,daily mod-int act at work (min),daily mod-int act (min),daily high-int act at work (min),daily high-int act (min),daily walk/bycl (min),prev aspirin use,smoker,diabetes,heart attack,coronary heart disease
0,73557,69,1,4,72,76,74,NaN,122,114,...,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2,2
1,73558,54,1,3,62,80,42,NaN,156,160,...,10,NaN,NaN,NaN,NaN,NaN,2,1,2,2
2,73559,72,1,3,90,76,80,NaN,140,140,...,30,180,NaN,NaN,NaN,2,3,1,2,2
3,73560,9,1,3,38,34,38,NaN,108,102,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
4,73561,73,2,3,86,88,86,NaN,136,134,...,30,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,26,1,2,68,74,76,NaN,110,116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2
9809,83728,2,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
9810,83729,42,2,4,82,82,80,NaN,136,130,...,NaN,60,NaN,NaN,NaN,2,NaN,2,2,2
9811,83730,7,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
9812,83731,11,1,6,68,56,62,NaN,94,94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN

In [24]:
dtype_dict = {
'dia bp 1': float, 
'dia bp 2': float, 
'dia bp 3': float, 
'dia bp 4': float, 
'sys bp 1': float, 
'sys bp 2': float, 
'sys bp 3': float, 
'sys bp 4': float, 
'hr (bpm)': float, 
'hdl chol (mg/dL)': float, 
'ldl chol (mg/dL)': float, 
'tot chol (mg/dL)': float, 
'trigl (mg/dL)': float, 
'gluc (mg/dL)': float, 
'fam hist ha or ang < age 50)': float, 
'daily mod-int act at work (min)': float,
'daily mod-int act (min)': float, 
'daily high-int act at work (min)': float, 
'daily high-int act (min)': float, 
'daily walk/bycl (min)': float
}
heart_df = heart_df.astype(dtype_dict)

In [25]:
avg_sys_bp = heart_df[['sys bp 1', 'sys bp 2', 'sys bp 3', 'sys bp 4']].mean(axis=1).round(0)
avg_dia_bp = heart_df[['dia bp 1', 'dia bp 2', 'dia bp 3', 'dia bp 4']].mean(axis=1).round(0)

In [26]:
heart_df.drop(columns=['dia bp 1', 'dia bp 2', 'dia bp 3', 'dia bp 4', 'sys bp 1', 'sys bp 2', 'sys bp 3', 'sys bp 4'], inplace=True)
heart_df.insert(5, 'sys bp', avg_sys_bp)
heart_df.insert(6, 'dia bp', avg_dia_bp)

In [27]:
heart_df

,SEQN,age,gender,race/ethnicity,sys bp 1,sys bp 2,sys bp 3,sys bp 4,weight (kg),hr (bpm),...,daily mod-int act at work (min),daily mod-int act (min),daily high-int act at work (min),daily high-int act (min),daily walk/bycl (min),prev aspirin use,smoker,diabetes,heart attack,coronary heart disease
0,73557,69,1,4,122.0,114.0,102.0,NaN,78.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2,2
1,73558,54,1,3,156.0,160.0,156.0,NaN,89.5,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,2,1,2,2
2,73559,72,1,3,140.0,140.0,146.0,NaN,88.9,NaN,...,30.0,180.0,NaN,NaN,NaN,2,3,1,2,2
3,73560,9,1,3,108.0,102.0,104.0,NaN,32.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
4,73561,73,2,3,136.0,134.0,142.0,NaN,52.0,NaN,...,30.0,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,26,1,2,110.0,116.0,112.0,NaN,71.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2
9809,83728,2,2,1,NaN,NaN,NaN,NaN,11.3,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
9810,83729,42,2,4,136.0,130.0,138.0,NaN,89.6,NaN,...,NaN,60.0,NaN,NaN,NaN,2,NaN,2,2,2
9811,83730,7,1,2,NaN,NaN,NaN,NaN,22.8,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
9812,83731,11,1,6,94.0,94.0,90.0,NaN,42.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN